/* Variáveis */
:root {
    --red: #E50914;
    --black: #141414;
    --gray: #AAA;
    --white: #FFF;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--black);
    color: var(--white);
}

/* Header */
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container h1 {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 0.5rem;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li a {
    color: var(--gray);
    margin-right: 10px;
}

header nav ul li a:hover {
    color: var(--white);
}

/* Main Section filme-principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%), url(../image/capa-house.jpg);
    height: 400px;
    background-size: cover;
}